.card {
  width: 100%;
  background-color: red;
  padding-top: 100%;
  position: relative;
}

.card-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card-detail {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  opacity: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  transition: opacity 0.4s ease;
}

.card-detail:hover {
  opacity: 0.7;
}
